---
---

@import "{{ site.theme }}";

#project_title {
  margin: 0;
  color: #5b64ff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
  text-transform: capitalize;
}

p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -.003em;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
}

#main_content_wrap {
  background: white;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}
